<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-7 col-xl-7 d-none d-lg-flex"><img src="assets/img/people/signup_bg.jpg" style="object-fit: contain;"></div>
                <div class="col-lg-5 col-xl-5">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Create an Account!</h4>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3 mb-sm-0"><input class="form-control form-control-user-custom" type="text" id="exampleFirstName" placeholder="Display Name" name="display_name"></div>
                            </div>
                            <div class="form-group"><input class="form-control form-control-user-custom" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user-custom" type="password" id="examplePasswordInput" placeholder="Password" name="password"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user-custom" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"></div>
                            </div><button class="btn btn-primary btn-block text-white btn-user-custom" type="submit">Register Account</button>
                            <hr>
                        </form>
                        <div class="text-center"></div>
                        <div class="text-center"><a class="small" href="login.html">Already have an account? Login!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
